/* Aggiungi queste regole per nascondere la scrollbar */
/* Nasconde la scrollbar per tutti gli elementi e per Chrome, Edge, e Safari */
*::-webkit-scrollbar {
  display: none;
}

/* Nasconde la scrollbar per Firefox */
* {
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
}

.container {
  padding: 16px;
  margin-top: 70px;
  height: calc(104vh - 70px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: transparent;
  margin-left: 16px;
  margin-right: 16px;
  color: white;
  z-index: 100;
  border: none;
}

.header .brand {
  font-size: 24px;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin-left: 16px;
  transition: color 0.3s;
}

.header nav a:hover {
  color: #f0f0f0;
}

.pageContent {
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 32px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.85));
  overflow: auto;
  color: #f0f0f0;
}

.header.nascondi {
  transform: translateY(-200%);
  transition: transform 0.7s ease-out;
}

/* Reimposta la posizione dell'header quando non è nascosto */
.header {
  transform: translateY(0);
  transition: transform 0.7s ease-out;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #8C52FF;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

ul {
  display: flex;
  width: 100%;
}

li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  min-width: 0;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  flex-wrap: nowrap;
  align-content: center;

}

.not-acrive {
  color: #808080 !important;
}

.logo {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
  width: 150px;
}

.nav-closed {
  width: 100%;
  /* Dimensione normale */
}

/* Stilo per il pulsante */
.toggle-btn {
  display: none;
  flex-shrink: 0;
  align-self: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}


/* Mostra il pulsante solo su schermi piccoli */
@media (max-width: 768px) {
  .toggle-btn {
    display: flex
  }

  .navMenu {
    display: none;
  }

  .nav-open {
    display: flex;
    /* flex-direction: column; */
    justify-content: center; /* Centra verticalmente gli elementi interni */
    align-items: center; /* Centra orizzontalmente gli elementi interni */
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 46, 46, 0.8);
    backdrop-filter: blur(5px);
    z-index: 999;
  }
  
  .nav-open ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente gli elementi del menu */
    justify-content: center; /* Centra verticalmente gli elementi del menu */
    height: 50%; /* Prende l'altezza disponibile */
  }


  
  .nav-open li {
    padding: 20px 0; /* Spazio intorno a ciascun elemento del menu */
    font-size: 24px; /* Dimensione del testo grande */
    cursor: pointer;
    text-align: center; /* Centra il testo degli elementi del menu */
    color: white;
  }
  
  .nav-open li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .closeMenu{
    position: absolute; /* Posiziona l'elemento in modo assoluto rispetto al contenitore */
    top: 20px; /* Distanza dal bordo superiore */
    right: 20px; /* Distanza dal bordo destro */
    cursor: pointer; /* Cambia il cursore in una mano quando si passa sopra */
    font-size: 20px; /* Aumenta la dimensiocirclese del testo (opzionale) */
    z-index: 100;
  }
}