.peper-login{
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    transition: width 0.5s; /* aggiungi questa proprietà */
    padding: 30px;
}

/* cambia il peper-login in base alla largezza della finestra */
@media screen and (max-width: 600px) {
    .peper-login{
        width: 90vw;
    }
}

@media screen and (min-width: 1000px) {
    .peper-login{
        width: 30vw;
    }
}